.c-cards-list {
  width: 100%;
  height: 100%;
  position: relative;
  // change to grid
  display: grid;
  column-gap: 50px;
  grid-template-columns: 45% 45%;
  margin-top: 50px;
  border: 1px solid red;
}
