@import '../../styles/size_mixins.scss';

.c-header {
  @include md {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.c-header__text-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 102px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  @include md {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 36px;
  }
}

.c-header__title {
  width: 100%;
  max-width: 730px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  margin: 0;
  padding: 0;
  margin-right: 64px;
  color: #0a0a0a;
  @include md {
    text-align: center;
    width: 100%;
    max-width: 429px;
    font-size: 30px;
  }
}

.c-header__text {
  width: 100%;
  max-width: 540px;
  font-weight: 400;
  line-height: 27px;
  padding: 0;
  margin: 0;
  color: #000;
  @include md {
    text-align: center;
    width: 100%;
    max-width: 539px;
    font-size: 16px;
  }
}

.c-header__cta {
  height: 66px;
  width: 310px;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-top: 40px;
  border: 1.5px solid #0a0a0a;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #0a0a0a;
  &__arrow {
  }
}
