@import '../../styles/size_mixins.scss';

.c-navbar {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  width: 100%;
  @include xl {
  }
  @include md {
  }
}

.c-nav__logo {
  height: 33px;
  width: 121px;
  background-image: url('../../../public/assets/Logo.png');
  background-position: center;
  cursor: pointer;
}
.c-navbar__list {
  display: flex;
  list-style-type: none;
}
.c-navbar__item {
  margin-left: 3em;
  cursor: pointer;
  &.__lang {
    position: relative;
    // margin-left: 5em;
    // text-decoration: underline;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #000;
    }
  }
}
.c-nav__hamburger {
  display: none;
  // display on mobile
  @include sm {
    display: block;
  }
}
.c-nav__menu {
  display: none;
}
.c-menu__langs {
}
