@import '../../styles/size_mixins.scss';

.c-navbar {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 38px;
  width: 100%;
  position: relative;
  gap: 134px;
  @include md {
    gap: 74px;
  }
  @include sm {
  }
}

.c-nav__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  width: 121px;
  background-image: url('../../../public/assets/Logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  @include md {
    width: 121px;
  }
  @include sm {
    width: 76.84px;
    height: 20px;
  }
}

.c-navbar__list {
  display: flex;
  list-style-type: none;
  // margin-left: 560px;
  // margin-right: 134px;
  gap: 60px;
  @include md {
    margin: 0;
    gap: 40px;
  }
  @include sm {
    display: none;
  }
}

.c-navbar__item {
  // margin-left: 60px;
  cursor: pointer;
  font-size: 20px;
  white-space: nowrap;
  @include md {
    font-size: 18px;
  }
}

.c-navbar__lang {
  position: relative;
  justify-self: flex-end;
  font-size: 20px;
  // margin-left: 5em;
  // text-decoration: underline;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #000;
  }
  @include md {
    font-size: 18px;
  }
  @include sm {
    display: none;
  }
}

// Hamburger ---------------------------------------//

.c-hamburger {
  display: none;
  // displays on mobile
  .c-hamburger__close {
    // visibility: hidden;
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 2px;
      background-color: #000;
    }
    &::before {
      transform: rotateZ(45deg) translate(30%, 268%);
    }
    &::after {
      transform: rotateZ(-45deg) translate(-30%, 268%);
    }
  }
  .c-hamburger__line {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #000;
    position: relative;
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #000;
      right: 0;
    }
    &::after {
      top: 5px;
      width: 10px;
    }
    &::before {
      bottom: 5px;
      width: 16px;
    }
  }
  @include sm {
    // width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c-hamburger.--active {
  .c-hamburger__line {
    display: none;
    // visibility: hidden;
  }
  .c-hamburger__close {
    // visibility: visible;
    display: block;
    z-index: 10;
  }
}

.c-nav__menu {
  display: none;
  &.--open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
  }
}

.c-menu__langs {
}
